SOCKET_PATH=/var/run/sockets/executor.sock
HOST=0.0.0.0
PORT=6173

LOG_LEVEL=WARN

CONCURRENT_EXEC_LIMIT=16

ISOLATE_PATH=/usr/local/bin/isolate
ISOLATE_BOXES_ROOT=/var/local/lib/isolate/
TEMP_PATH=/tmp/next-gen-ai-executor

EXEC_WAIT_DELAY=5s
ISOLATE_INIT_TIMEOUT=5s
ISOLATE_EXEC_TIMEOUT=5s
ISOLATE_CLEANUP_TIMEOUT=5s

PYTHON_PATH=/usr/bin/python{version}
PYTHON_BATCH_STDIO_RUNNER_SCRIPT=./helpers/python/batch_stdio_runner.py
PYTHON_BATCH_UNIT_RUNNER_SCRIPT=./helpers/python/batch_unit_runner.py
PYTHON_BATCH_UNIT_COLOR_CONFTEST_PATH=./helpers/python/batch_unit_color_conftest.py
PYTHON_AVAILABLE_VERSIONS=3.12
